<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="xyz.worldyun.espcontrol.mapper.DeviceMapper">

    <select id="selectByMqttId" resultType="xyz.worldyun.espcontrol.entity.Device">
        SELECT
            d.*
        FROM
            device d
        WHERE
            d.mqtt_id = #{mqttId}
          AND d.is_delete != 1
    </select>
    <select id="list" resultType="xyz.worldyun.espcontrol.dto.DeviceDto">
        <bind name="userDetail" value="@xyz.worldyun.espcontrol.common.util.UserDetail@getUserDetail()"/>
        SELECT
            d.id,
            d.device_name,
            d.last_heartbeat_time,
            CASE
                WHEN ISNULL(d.last_heartbeat_time) OR TIMESTAMPDIFF(SECOND, d.last_heartbeat_time, NOW() ) &gt;= 60 THEN FALSE
                ELSE TRUE
            END on_line
        FROM
            device d
        WHERE
            d.is_delete != 1
	        AND d.user_id = #{userDetail.id}
        ORDER BY d.device_name
    </select>
</mapper>
